<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome To Django Deployment on heroku demo</h1>
    <h3>Web Pages : </h3>
    <ul>
      <li><a href=" https://protected-lake-27548.herokuapp.com/1st/">To first app</a></li>
      <li><a href=" https://protected-lake-27548.herokuapp.com/2nd/">To second app</a></li>
      <li><a href=" https://protected-lake-27548.herokuapp.com/1st/a/">print a</a></li>
      <li><a href=" https://protected-lake-27548.herokuapp.com/1st/render_page">Page render demo</a></li>
    </ul>
</body>
</html>